@font-face {
    font-family: 'ChiselD';
    src: url('ChiselD.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SouvenirBQ-Demi';
    src: url('SouvenirBQ-Demi.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Historical-FellTypeRoman';
    src: url('Historical-FellTypeRoman.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'QuentinEF';
    src: url('QuentinEF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TGRoman';
    src: url('TGRoman.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

